  <div class="p-1 mb-2 bg-info text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <nav class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
        <a class="nav-link navbar-brand fs-1 fw-bold" href="./">TWITTER</a>
      </nav>
      <div class="text-end justify-content-end">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
        <button type="button" class="btn btn-secondary btn-lg">Sign up</button>
      </div>
    </div>
  </div>